*{
  margin: 0;
}


.button {
    padding: 5px 30px;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  
  .button:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    padding: 5px 30px;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }

  .nav-link:hover {
    animation: a 0.5s 1 linear;
  }
  

  .title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }

  .navbar-brand img {
    height: 50px; /* ajuster la hauteur de l'image */
    margin: 5px; /* ajouter une marge autour de l'image */
  }

img.brand{
  width: 200px;
  height: auto;
}

h1{
  text-align: center;
}